@{
    ViewBag.Title = "Home Page";
}


<h1>Crud Universidad</h1>
<div class="row">
    <div class="col-md-4">
        <h2>@Html.ActionLink("Alumnos","Index","ALUMNOes")</h2>
       
        
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Docentes", "Index", "Docentes")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Maestrias", "Index", "Maestrias")</h2>
    </div>
    <div class="col-md-4">
        <h2>@Html.ActionLink("Universidades", "Index", "Universidads")</h2>
    </div>
</div>